<!-- Navigation-->
  <div ng-include="'/app/assets/angular/views/navigation.html'" ng-controller="NavigationCtrl"></div>
  <div class="content-wrapper">
      <div class="container-fluid">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">My Dashboard</li>
        </ol>
        <div class="row">
          <div class="col-sm-12">
            Enquiry
          </div>
        </div>
      </div>
</div>
<div ng-include="'/app/assets/angular/views/footer.html'"></div>
