<!-- Navigation-->
<div ng-include="'/app/assets/angular/views/navigation.html'" ng-controller="NavigationCtrl"></div>
<div class="content-wrapper mb40">
    <div class="container-fluid mt50">
        <div class="col-sm-12 borderAll p0">
            <div class="col-sm-12 p0">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-truncate style="position: absolute; left: 20px; right: 170px; top: 13px; bottom: 13px;">Group</md-truncate>
                        <span flex></span>
                        <md-button class="md-fab md-mini btn-dark-gray" aria-label="Favorite" ng-click="refresh($event, '')">
                            <md-tooltip md-direction="top">Refresh</md-tooltip>
                            <i class="fa fa-fw fa-refresh"></i>
                        </md-button>
                        <md-button class="md-fab md-mini btn-dark-gray" aria-label="Favorite" ng-click="editItem($event)">
                                <md-tooltip md-direction="top">Add New</md-tooltip>
                                <i class="fa fa-fw fa-plus"></i>
                        </md-button>
                    </div>
                </md-toolbar>
            </div>

            
            
            <div class="col-sm-12 mt5 p0 memberSearchBox">
                <div class="input-group col-sm-12">
                    <input type="text" class="form-control search-form" placeholder="Search" ng-model="initVariables.search" ng-enter="init()"/>
                    <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary search-btn" name="q" ng-click="init()"><i class="fa fa-search"></i>
                    </button>
                    </span>
                   
                </div>
            </div>
            <div class="col-sm-12 text-center p20" ng-if="listLoading">
                <img src="/app/assets/angular/img/loading32.gif" alt=""></img>
            </div>
            <div class="col-sm-12 groupTableDiv mt10" ng-if="!listLoading" id="listTable">
                <table class="table table-hover table-responsive table-sm">
                    <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Icon</th>
                            <th>Group Name  <a href="" class="cursor-pointer color-white" ng-click="applySort('name')">  <img ng-src="{{getSortImage('name')}}" aria-hidden="true"></img></a></th>
                            <th>Description  <a href="" class="cursor-pointer color-white" ng-click="applySort('description')">  <img ng-src="{{getSortImage('description')}}" aria-hidden="true"></img></a></th>
                            <th>Total Group Members  <a href="" class="cursor-pointer color-white" ng-click="applySort('memberCount')">  <img ng-src="{{getSortImage('memberCount')}}" aria-hidden="true"></img></a></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" ng-repeat="group in groups">
                            <th scope="row">{{((pagination.page - 1) * pageLimit) + $index + 1}}</th>
                            <td>
                              <div class="avatar">
                                  <img ng-src="{{group.icon_url}}" alt=""></img>
                              </div>
                            </td>
                            <td>{{group.name}}</td>
                            <td>{{group.description}}</td>
                            <td>{{group.memberCount}}</td>
                            <td>
                                <a href="" ng-click="editItem($event, group.id)"><i class="fa fa-fw fa-edit color-black"></i><md-tooltip md-direction="top">Edit</md-tooltip></a>
                                <a href="" ng-click="viewMembers($event, group.id)"><i class="fa fa-fw fa-eye color-black"></i><md-tooltip md-direction="top">View Members</md-tooltip></a>
                                <a href="" ng-click="delete(group.id)"><i class="fa fa-fw fa-trash  color-red"></i><md-tooltip md-direction="top">Delete</md-tooltip></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 p0" ng-if="!listLoading">
                <div class="col-sm-6 col-12 pull-left paginator">
                    <ul class="pull-left" uib-pagination total-items="pagination.rowCount" max-size="pageSize" class="pagination-sm" boundary-links="true" rotate="true" ng-model="pagination.page" ng-change="fetchData()"></ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'/app/assets/angular/views/footer.html'"></div>

<script type="text/ng-template" id="addGroup.html">
    <md-dialog aria-label="" id="addGroupBox">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 ng-if="group.id == null">Add New Group</h2>
                    <h2 ng-if="group.id != null">Edit Group</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="close()">
                        <i class="fa fa-fw fa-remove color-black"></i>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <div class="col-sm-12 text-center" ng-if="loading">
                        <img src="/app/assets/angular/img/loading32.gif" alt=""></img>
                    </div>    
                    <div layout="row" layout-wrap ng-if="!loading">
                        <div flex="100">
                            <md-input-container class="md-block">
                                <label>Group Name</label>
                                <input class="form-control" ng-model="group.name" maxlength="45"/>
                            </md-input-container>
                        </div>
                        <div flex="100">
                            <md-input-container class="md-block">
                                <label>Group Description</label>
                                <input class="form-control" ng-model="group.description" maxlength="255"/>
                            </md-input-container>
                        </div>
                        <div flex="100">
                            <md-input-container class="md-block">
                                <label>Group Icon</label>
                                <md-select ng-model="group.icon_url">
                                    <md-option ng-repeat="icon in icons" value="{{icon}}">
                                      <div class="avatar">
                                        <a href="" ng-click="setIcon(icon)"><img ng-class="group.icon_url == icon ? 'borderBlack' : ''"ng-src="{{icon}}" alt=""></img></a>
                                      </div>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row" ng-if="!loading">
                <span flex></span>
                <md-button class="md-raised" ng-click="close()">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-click="addGroup()">Save</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>

<script type="text/ng-template" id="groupMemberView.html">
    <md-dialog aria-label="" id="addGroupBox">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>View Group Member</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="close()">
                        <i class="fa fa-fw fa-remove color-black"></i>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <div class="col-sm-12 text-center" ng-if="loading">
                        <img src="/app/assets/angular/img/loading32.gif" alt=""></img>
                    </div>    
                    <div layout="row p0" layout-wrap ng-if="!loading" id="assignGroupToMember">
                        <div class="col-sm-12 p0">
                            <button class="btn btn-secondary col-sm-12" type="button" ng-click="toggleMemberList()">
                                Select Members
                            </button>
                            <div class="col-sm-12 p0" ng-show="showMembers">
                                <div class="col-sm-12 p0 groupMemberListDiv">
                                    <md-checkbox ng-model="member.selected" class="col-sm-12" ng-repeat="member in allMember | orderBy : 'first_name'" ng-if="selectedMemberIds.indexOf(member.id) < 0">
                                        {{member.first_name}} {{member.last_name}}
                                    </md-checkbox>
                                </div> 
                                <div class="col-sm-12 p0 text-right" style="background: #cdcdcd;">   
                                    <md-button class="md-raised" ng-click="toggleMemberList()">Close</md-button>
                                    <md-button class="md-raised md-primary" ng-click="addMemberToGroup()">Add</md-button>
                                </div>
                            </div>
                        </div>    
                        <div class="input-group col-sm-12 p0 mb10 mt10">
                            <input type="text" class="form-control search-form" placeholder="Search" ng-model="initVariables.search"/>
                                
                        </div>
                        <div flex="100" ng-repeat="member in selectedMember | filter : {first_name : initVariables.search} | orderBy : 'first_name'" class="groupMemberList">
                            <h6>{{member.first_name}} {{member.last_name}}<i class="fa fa-fw fa-remove pull-right cursor-pointer" ng-click="removeMemberFromGroup(member.id)"></i></h6>
                        </div>
                    </div>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row" ng-if="!loading">
                <span flex></span>
                <md-button class="md-raised" ng-click="close()">Cancel</md-button>
                <md-button class="md-raised md-primary" ng-click="assignGroups()">Save</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
