<md-dialog aria-label="" id="messageDialogBox">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Change Password</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="close()">
                        <i class="fa fa-fw fa-remove color-black"></i>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content dialogContentBox">
                    <div flex="100">
                            <md-content class="mt15">
                                    <div flex="100" ng-if="loading">
                                        <div class="col-sm-12 text-center p20" ng-if="loading">
                                            <img src="/app/assets/angular/img/loading32.gif" alt=""></img>
                                        </div>
                                    </div> 
                                    <div flex="100" class="plr15" ng-if="!loading">
                                        <md-input-container class="md-icon-float md-block">
                                            <!-- Use floating label instead of placeholder -->
                                            <label>UserName</label>
                                            <md-icon md-font-icon="fa-user" class="fa fa-lg"></md-icon>
                                            <input ng-model="user.username" disable-key type="text" autocomplete="off" />
                                        </md-input-container>
                                        <md-input-container md-no-float class="md-block">
                                            <label>Current Password</label>
                                            <md-icon md-font-icon="fa-key" class="fa fa-lg"></md-icon>
                                            <input ng-model="user.currentPassword" type="password" max-length="50" autocomplete="new-password" />
                                        </md-input-container>
                                        <md-input-container md-no-float class="md-block">
                                            <label>New Password</label>
                                            <md-icon md-font-icon="fa-key" class="fa fa-lg"></md-icon>
                                            <input ng-model="user.newPassword" type="password" max-length="50" autocomplete="new-password"/>
                                        </md-input-container>
                                        <md-input-container md-no-float class="md-block">
                                            <label>Confirm Password</label>
                                            <md-icon md-font-icon="fa-key" class="fa fa-lg"></md-icon>
                                            <input ng-model="user.confirmPassword" type="password" max-length="50"  autocomplete="new-password"/>
                                        </md-input-container>
                                    
                                    </div>
                                </md-content>
                    </div>    
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised" ng-click="close()" ng-disabled="loading">Close</md-button>
                <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="loading">Send</md-button>
            </md-dialog-actions>
    
    </md-dialog>